# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs
README.txt
Paulscode SoundSystem CodecIBXM License.txt
gradle.properties
CREDITS-fml.txt
LICENSE-new.txt
Paulscode IBXM Library License.txt
MinecraftForge-Credits.txt
forge-1.11.2-13.20.0.2233-changelog.txt
